body {
    background-color: grey;
}

@font-face {
    font-family: silkscreen;
    src: url(/fonts/Silkscreen-Regular.ttf) format('truetype');
}

@font-face {
    font-family: silkscreenBold;
    src: url(/fonts/Silkscreen-Bold.ttf) format('truetype');
}

.container {
    display: flex;
    flex-flow: column nowrap;
    background-image: url(/images/backgroundimages/scanlines.png);
    align-content: center;
    margin-bottom: 10px;
}

.container > * {
    flex: 1 100%;
}

.container-2 {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 20px;
    padding-right: 0px
}

.aside {
    flex: 1 auto;
}

.outer-box {
    display: flex;
    flex-flow: row wrap;
    background-color: transparent;
    margin: auto;
    padding: 0% 10% 0% 10%;
    font-family: silkscreen;
    width: 100%;
}

.header-box {
    background-color: white;
    border-bottom: 2px solid black;
    padding: 5px 0px 5px 0px;
    font-family: silkscreenBold;
    text-align: center;
    font-size: 16px;
    width: 100%
}

.content-box {
    background-color: white;
    margin: auto;
    padding: 0px 0px 5px 0px;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    font-family: silkscreen;
    font-size: small;
    order: 1;
    width: 70%;
}

.side-box {
    background-color: white;
    margin: auto;
    padding: 0px 0px 5px 0px;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    font-family: silkscreen;
    font-size: small;
    order: 3;
}

.blank-box {
    background-color: transparent;
    padding: 0% 5% 0% 5%;
    order: 2;
}

.icon {
    width: 14px;
    height: 29px;
}

.pic {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.veleria-box {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.Veleria {
    width: 500px;
    height: 1000px;
    margin: -80px 0 0 -150px;
}

nav {
    font-family: silkscreenBold;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    background-color: white;
    font-size: 16px;
}

ul {
    background: white;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: #000;
    background-color: white;
    display: block;
    float: left;
    padding: 0.5rem;
    position: relative;
    transition-duration: 0.5s;
}

li a {
    color: #000;
}

li a:active {
    background-color: black;
    color: white;
}

li:hover {
    background: white;
    cursor: pointer;
}

ul li ul {
    background: white;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0.5rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
li:focus-within > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
    border: 2px solid black;
}